# Gradle
.gradle/
build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# APK / Bundle
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Google Services (Firebase etc.)
google-services.json

# Android Profiling
*.hprof

# Log / OS
*.log
*.DS_Store
Thumbs.db

# Secrets / Environment
*.env
secrets.properties
